@font-face {
    font-family: 'diablo';
    src: url('diablo_h.ttf');
}



body {
    font-family: 'diablo';
    text-shadow: 5px 5px black;

}

.frontPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-image: url("img/wallpaper-1914371.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center top;
    animation: fade 5s;
}

#title {
    margin: 150px;
    font-size: 80px;
    color: white;
}

#subtitle {
    margin-top: -150px;
    font-size: 40px;
    color: white;
}

#enterButton {
    font-family: inherit;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 5px 5px black;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px transparent;


}

a {
    text-decoration: none;
    color: white
}

#enterButton:hover {
    animation: enlarge .5s forwards;
}

#enterButton:hover::after {
    animation: enlarge 1.2s;
    animation-direction: reverse;
}

img {
    position: absolute;
    margin-top: 20vw;
    width: 1600px;
    height: 600px
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enlarge {
    from {
        font-size: 30px;
    }

    to {
        font-size: 40px
    }
}